*.iml
google_maps_api.xml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.properties
.idea/
gradle/*.*
gradle/
gradle*
!gradle.properties
